.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 5vw;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  cursor: pointer;
}

.navItem {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  cursor: pointer;
}

.navButton {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: white;
  color: black;
}

.languageSelector {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.languageSelector:hover {
  background-color: white;
  color: black;
}